@mixin textStyle($fw, $fz, $lh) {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: #FFFFFF;
}

header {
  border-bottom: 1px solid #A1A1A1;
  padding: 40px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


    .nav {
      display: flex;
      justify-content: flex-end;

      &__items {
        @include textStyle(500, 16px, 20px);
        text-decoration: none;
        margin-right: 40px;
        position: relative;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }

        &:hover:before {
          content: "";
          position: absolute;
          width: calc(40px + 100%);
          bottom: -40px;
          left: -20px;
          height: 2px;
          background: white;
        }
      }
    }
}