*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "../libs/fancybox/jquery.fancybox.min.css";
@import "../libs/bs/bootstrap-grid.min.css";
@import "header";
@import "home";
@import "services";
@import "about-us";
@import "alls";
@import "allp";
@import "video";
@import "subscribe";
@import "footer";
@import "media";
